MvcAzureAppOnPremiseWcfTest/Service References/StudentService/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://onactuate0084:7178/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTestService.Contracts" />
  <xs:element name="GetStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTestService.Contracts" minOccurs="0" name="GetStudentByIdResult" nillable="true" type="q1:StudentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>